.nameStyle {
    cursor: pointer; 
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.themeColor {
    background-color: transparent !important;
}

.fa-bars:hover {
    color: #1a3263;
}

.nameStyle > span:focus, span:hover {
    color: #1a3263;
}

li {
    letter-spacing: 0.04rem;
}

.navbar-light {
    /* background-color: white; */
    background-color: transparent;
}

.navbar-light .nav-item > .nav-link {
    cursor: pointer;
}

.nav-link.active {
    background-color: transparent;
    border-radius: 0%;
    color: #fff;
    border-bottom: 2px solid #fff;
    transition-timing-function: ease-out;
}

.back-arrow {
    padding: 5%;
    font-size: medium;
    float: right;    
}

.sideBar {
    width: 20%;
    position: fixed;
}

.mail{
    color: #c71610;
}

.blogs{
    color: forestgreen;
}

.phone{
    color: royalblue;
}

.code {
    color: #ff5722
    ;
}

.user {
    color: purple;
}


@media only screen and (max-width : 400px) {
    
    .progress-container {
        width: 100%;
        background: #1a3263;
        border: none;
      }
      
      .progress-bar {
        height: 4px;
        background: #f94001;
        width: 0%;
      }

    .setPadding {
        padding-left: 0%;
        padding-right: 0%;
    }

    .scroll {
        background-color: #1a3263 !important;
        color: rgba(255,255,255, 0.9);
    }

    .bk {
        height: 500px;
    }

    .sideBar {
        width: 75%;
    }

    .navbar-light {
        background-color: rgba(255,255,255, 0.5);
        color: rgba(255,255,255, 0.9);
    }

    .nameStyle {
        color: #fff;
    }

    .nameStyle > span:focus, span:hover {
        color: #fff;
    }

}

@media only screen and (max-width: 600px) {
    

    .navbar-light {
        background-color: rgba(255,255,255, 0.5);
        color: rgba(255,255,255, 0.9);
    }

    .nameStyle {
        color: #fff;
    }

    .scroll {
        background-color: #1a3263 !important;
        color: rgba(255,255,255, 0.9);
    }

    .progress-container {
        width: 100%;
        background: transparent;
        border: none;
      }

    .nameStyle > span:focus, span:hover {
        /* color: #fff; */
        color: rgba(255, 255, 255, 0.8) !important;
    }
      
      .progress-bar {
        height: 4px;
        background: #f94001;
        width: 0%;
      }

    .setPadding {
        padding-left: 0%;
        padding-right: 0%;
    }

    .sideBar {
        width: 75%;
    }

}

@media only screen and (min-width: 700px) {
    .sideBar {
        width: 40%;
    }

    .nameStyle {
        color: inherit;
    }

    .navbar-light {
        background-color: rgba(255,255,255, 0.5);
        color: rgba(255,255,255, 0.9);
    }

    .scroll {
        background-color: #1a3263 !important;
        color: rgba(255,255,255, 0.9);
    }

    .nameStyle > span:focus, span:hover {
        /* color: #fff; */
        color: rgba(255, 255, 255, 0.8) !important;
    }

    .progress-container {
        width: 100%;
        background: transparent;
        border: none;
      }
      
      .progress-bar {
        height: 4px;
        background: #f94001;
        width: 0%;
      }

      .scroll .nameStyle {
        color: #fff;
    }

    .scroll .nameStyle:hover {
        color: #fff;
    }

}

@media only screen and (min-width: 1200px) {
    .sideBar {
        width: 40%;
    }

    .nameStyle > span:focus, span:hover {
        color: #1a3263 !important;
    }

    .navbar-light {
        background-color: transparent;
        color: rgba(255,255,255, 0.9);
    }

    .scroll {
        background-color: #fff !important;
        color: rgba(0,0,0, 0.7) !important;
    }

    .navbar-light .navbar-nav .nav-link {
        color: rgba(255,255,255, 0.9);
    }

    .scroll .navbar-nav .nav-link {
        color: #1a3263
    }

    /* .nav-item, .nav-item, .nav-link {
        color: rgba(255,255,255, 0.9);
    } */

    .nameStyle {
        color: rgba(255,255,255, 0.9);
    }

    .scroll .nameStyle {
        color: rgba(0,0,0, 0.8);
    }

    .scroll .nav-link.active {
        color: #1a3263 !important ;
        border-bottom: 2px solid #1a3263;
    }

    .scroll .nav-link:hover {
        color: #004b7c !important ;
    }

    .progress-container {
        width: 100%;
        background: transparent;
        border: none;
      }
      
      .progress-bar {
        height: 4px;
        background: #1a3263;
        width: 0%;
      }

}


.scroll {
    background-color: #1a3263;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    color: #fff;
}