.nameStyle {
    cursor: pointer; 
    margin-left: 10px;
    color: white;
}

li {
    letter-spacing: 0.04rem;
}

.navbar-light {
    background-color: white;
}

.navbar-light .nav-item > .nav-link {
    color: rgba(0,0,0, 0.7);
    cursor: pointer;
}

.nav-link.active {
    background-color: transparent;
    border-radius: 0%;
    color: #fff;
    border-bottom: 2px solid #fff;
    transition-timing-function: ease-out;
}

.back-arrow {
    padding: 5%;
    font-size: medium;
    float: right;    
}

.sideBar {
    width: 20%;
    position: fixed;
}

.mail{
    color: #c71610;
}

.blogs{
    color: forestgreen;
}

.phone{
    color: royalblue;
}

.code {
    color: #ff5722
    ;
}

.user {
    color: purple;
}


@media only screen and (max-width : 400px) {
    
    .setPadding {
        padding-left: 0%;
        padding-right: 0%;
    }

    .bk {
        height: 500px;
    }

    .sideBar {
        width: 75%;
    }

    .navbar-light {
        background-color: #006cb6 !important;
        color: white;
    }

}

@media only screen and (max-width: 600px) {
    
    .setPadding {
        padding-left: 0%;
        padding-right: 0%;
    }

    .sideBar {
        width: 75%;
    }

    .navbar-light {
        background-color: #006cb6 !important;
        color: white;
    }

}

@media only screen and (min-width: 700px) {
    .sideBar {
        width: 40%;
    }

    .navbar-light {
        background-color: #006cb6 !important;
        color: white;
    }

    .navbar-light .nav-item, .navbar-light .nav-item .nav-link   {
        color: white;
    }

}

@media only screen and (min-width: 1200px) {
    .sideBar {
        width: 40%;
    }

    .navbar-light {
        background-color: white !important;
        color: rgba(0,0,0,0.7);
    }

    .navbar-light .nav-item, .navbar-light .nav-item .nav-link   {
        color: rgba(0,0,0, 0.7);
    }

    .nameStyle {
        color: rgba(0,0,0,0.7);
    }

    .nav-link.active {
        color: #006cb6;
        border-bottom: 2px solid #006cb6;
    }

}