/* You can add global styles to this file, and also import other style files */

.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
}

.cardOnHover:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
    cursor: pointer;
}

.areaHeading {
    /* text-align: center; */
    color: rgba(0, 0, 0, 0.8);
}

html, body { height: 100%; scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.txt-primary {
    color: #006cb6;
    letter-spacing: 0.03rem;
    font-weight: 450;
}

.txt-words {
    letter-spacing: 0.019rem;
}

.mat-drawer-container {
    background-color: #fff !important;
    color: rgba(0,0,0,.87);
}