<h1 class="areaHeading pt-5 pb-2 mt-5">Contact</h1>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 col-lg-7 col-xl-7 mb-3">
        <div class="card contactCardPadding card-update"
          [ngClass]=" { 'beforeLogin' : !loggedIn, 'afterLogin': loggedIn, 'top-p': !loggedIn } ">
          <h1 class="text-center txt-primary"> Hey There, happy to hear from you. </h1>
          <form *ngIf="loggedIn" class="example-form" [formGroup]="contactForm"
            (ngSubmit)="onSubmit(contactForm.value)">
            <br>
            <div class="post-container">
              <div class="post-thumb">
                <img [src]='loggedInUserPhoto' [alt]="loggedInUserName" width="80" height="80"
                  style="border-radius: 50%;" />
              </div>
              <div class="post-content">
                <input type="text" class="bk-primary" style="border: none; font-weight: 500; font-size: 20px;"
                  formControlName="userName" readonly>
                <br>
                <input type="text" class="bk-primary" style="border: none;" formControlName="userEmail" readonly>
              </div>
            </div>
            <br>
            <mat-form-field style="width: 100%;">
              <mat-label style="font-size: 15px;">Leave a comment</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..." rows="4" id="comments"
                formControlName="userComment" required></textarea>
            </mat-form-field>
            <br>
            <br>
            <button class="btn" type="submit">Submit</button>
          </form>
          <div *ngIf="!loggedIn" style="height: inherit;" class="py-5 px-3">
            <a class="btn" style="background-color: white; width: unset; display: block; padding: 5%; padding-top: 3%;"
              (click)="this.auth.googleSignin()">
              <i class="fa fa-google" aria-hidden="true" style="font-size: 8rem;"></i>
              <h1 class="pt-4" style="word-spacing: 0.1rem; word-spacing: 0.19rem;">
                Sign In with Google
              </h1>
            </a>
            <br> <br>
            <a *ngIf="false" class="btn" style="background-color: white; width: unset;  display: block;"> <i
                class="fa fa-facebook" style="color: #4267B2;" aria-hidden="true"></i> &nbsp; Facebook Login
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-5 col-xl-5 mb-3 text-center">
        <iframe title="Contact Location"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241412.4989036228!2d72.89307213178624!3d19.016623858733002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b9f0b81f13ad%3A0x3c12f7681185f869!2sNavi%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1604874849618!5m2!1sen!2sin"
          width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false"
          tabindex="0"
          style="padding: 0%; margin: 0; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09); pointer-events: none;"></iframe>
      </div>
    </div>
  </div>
</div>