.mat-spinner-color::ng-deep circle{
  stroke: #006cb6 !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none; 
}

.grad1 {
    color: #006cb6;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: brightness(0) !important;
}

@media only screen and (max-width : 400px) {
    
    .carousal-img {
        height: auto !important;
    }
  }
  
  @media only screen and (max-width: 600px) {
    
    .carousal-img {
        height: auto !important;
    }  
  }
  
  @media only screen and (max-width: 850px) {
    
    .carousal-img {
        height: auto !important;
    }
  
  }
  
  @media only screen and (max-width: 1200px) {
    .carousal-img {
        height: 490px;
    }
  }