<h1 class="areaHeading py-5 mt-3">Experience</h1>
<div class="timeline">
    <div *ngFor="let item of timelineData; index as idx">
        <div class="timeline-container" [ngClass]="{'left': idx%2 === 0, 'right': idx%2 !== 0}">
            <div [ngClass]="{'content-left': idx%2 === 0, 'content-right': idx%2 !== 0}"
                [routerLink]="[{ outlets: { modal: ['experiences', item.id] }}]">
                <h2 class="txt-primary"> {{ item.duration }} </h2>
                <p class="txt-words"> {{ item.title }} </p>
                <div class="row pt-2" *ngIf="item.footer">
                    <div class="col-md-12 col-lg-6 col-xl-6">
                        <i class="fas" [ngClass]="item.footer.licon"></i>
                        <span class="txt-words">
                            {{item.footer.lname}}
                        </span>
                        <span class="txt-primary-orange">
                            {{item.footer.lvalue}}
                        </span>
                    </div>
                    <div class="col-md-12 col-lg-6  col-xl-6">
                        <i class="fas" [ngClass]="item.footer.ricon"></i>
                        <span class="txt-words">
                            {{item.footer.rname}}
                        </span>
                        <span class="txt-primary-orange">
                            {{item.footer.rvalue}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>