.example-card {
  max-width: 400px;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.3);
}

.example-header-image {
  background-image: url('../../../../assets/img/profile2.png');
  background-size: cover;
}

button, button:hover, button:active, button:focus {
  border: none;
  outline: none;
}