<h1 class="areaHeading py-5 mt-3">Projects</h1>
<div class="row">
    <div class="col-md-4">
        <a class="card" style="background-color: #1f77b4;">
            <div class="card__background" style="background-color: #1f77b4;">
            </div>
            <div class="card__content">
                <p class="card__category">Project</p>
                <h3 class="card__heading">Portfolio</h3>
                <p>Personal Portfolio </p>
                <img src="../../../../assets/img/projects/portfolio.png" alt="portfolio" width="100%" height="auto">
                <p class="pt-2" style="text-align: center;"> 2020</p>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="card" style="background-color: #ff7f0e;">
            <div class="card__background"
                style="background-color: #ff7f0e;">
            </div>
            <div class="card__content">
                <p class="card__category">Project</p>
                <h3 class="card__heading">RilPMS</h3>
                <p>Project Management</p>
                <img src="../../../../assets/img/projects/rilpms.png" alt="rilpms" width="100%" height="auto">
                <p class="pt-2" style="text-align: center;"> 2019 </p>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="card" style="background-color: #09d409;">
            <div class="card__background"
                style="background-color: #09d409;">
            </div>
            <div class="card__content">
                <p class="card__category">Project</p>
                <h3 class="card__heading">EMS</h3>
                <p>Expense Management</p>
                <img src="../../../../assets/img/projects/ems.png" alt="ems" width="100%" height="auto">
                <p class="pt-2" style="text-align: center;"> 2019 </p>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="card" style="background-color: #d62728;">
            <div class="card__background" style="background-color: #d62728;">
            </div>
            <div class="card__content">
                <p class="card__category">Project</p>
                <h3 class="card__heading" style="font-size: x-large;">Autonomous Car</h3>
                <p>A model of Autonoous car</p>
                <br><br>
                <img src="../../../../assets/img/projects/accar.png" alt="ems" width="100%" height="auto" style="border-radius: 5px;">
                <p class="pt-3" style="text-align: center;"> 2019 </p>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="card" style="background-color: #7c2ec5;">
            <div class="card__background"
                style="background-color: #7c2ec5;">
            </div>
            <div class="card__content">
                <p class="card__category">Project</p>
                <h3 class="card__heading">BuyIt</h3>
                <p>E-Commerce Website</p>
                <img src="../../../../assets/img/projects/buyit.png" alt="buyit" width="100%" height="auto">
                <p class="pt-2" style="text-align: center;"> 2018 </p>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="card" style="background-color: #5f6b6d;">
            <div class="card__background"
                style="background-color: #5f6b6d;">
            </div>
            <div class="card__content">
                <p class="card__category">Project</p>
                <h3 class="card__heading">Fcrit</h3>
                <p>College Website Portal</p>
                <br>
                <br>
                <img src="../../../../assets/img/projects/colleged.png" alt="Fcrit" width="100%" height="auto" style="border-radius: 5px;">
                <p class="pt-3" style="text-align: center;"> 2017 </p>
            </div>
        </a>
    </div>
</div>