<div class="container setPadding mt-2">
    <div class="row" id="section1">
        <div class="col-md-12">
            <app-about-me></app-about-me>
        </div>
    </div>
    <div class="row" id="section2">
        <div class="col-md-12">
            <app-technical-skills></app-technical-skills>
        </div>
    </div>
    <div class="row" id="section3">
        <div class="col-md-12">
            <app-areas-of-interest></app-areas-of-interest>
        </div>
    </div>
    <div class="row" id="section4">
        <div class="col-md-12">
            <app-contact></app-contact>
        </div>
    </div>
</div>