<mat-sidenav-container>
  <mat-sidenav #sidenav class="sideBar">
    <a class="back-arrow" (click)="sidenav.toggle()" id="sidebarBtn">
      <i class="material-icons" style="color: white; cursor: pointer; float: right; margin: 15px;">arrow_back</i>
    </a>
    <br>
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content style="background-color: white;">
    <mat-sidenav-container hasBackdrop="false">
      <mat-sidenav #left position="end" class="info-container">
        <app-project-details-template></app-project-details-template>
      </mat-sidenav>
      <mat-sidenav-content>
        <header>
          <app-header></app-header>
          <a (click)="sidenav.toggle()" id="sideBarToggle" style="opacity: 0;"></a>
        </header>
        <div class="bk" id="about"></div>
        <div class="topSpace"></div>
        <router-outlet></router-outlet>
        <button mat-button (click)="left.toggle()" id="rightSideBar" style="width: 0; height: 0; opacity: 0;">left</button>
        <app-footer></app-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>