.bk {
    background-image: url('../assets/img/bk.webp');
    width: 100%;
    top: 0;
    height: 440px;
    position: absolute;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back-arrow {
  color: white;
  cursor: pointer;
  margin: 15px;
  position: fixed;
  right: 0;
}

.topSpace {
    padding-top: 7%;
}

.sideBar {
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.93);
  color: white;
}

.info-container {
  width: 35%;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.06rem;
  color: rgba(0, 0, 0, 0.8);
}


@media only screen and (min-width: 350px) {
  
  .info-container {
    width: 100%;
  }

  .topSpace {
    padding-top: 50%;
  }

  .bk {
    height: 5%;
  }

  .sideBar {
    background: rgb(0,108,182);
background: linear-gradient(180deg, rgba(0,108,182,1) 0%, rgba(158,0,0,1) 100%);
  }

}

@media only screen and (min-width: 450px) {
  
  .info-container {
    width: 100%;
  }

  .topSpace {
    padding-top: 50%;
  }

  .bk {
    height: 6%;
  }

  .sideBar {
    background: rgb(0,108,182);
background: linear-gradient(180deg, rgba(0,108,182,1) 0%, rgba(158,0,0,1) 100%);
  }

}

@media only screen and (min-width: 750px) {
  
  .info-container {
    width: 100%;
  }

  .topSpace {
    padding-top: 7%;
  }

  .bk {
    height: 440px;
  }

}