.bk {
    background-image: url('../assets/img/bk.webp');
    width: 100%;
    top: 0;
    height: 440px;
    position: absolute;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topSpace {
    padding-top: 7%;
}

.sideBar {
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.93);
  color: white;
}

.info-container {
  width: 35%;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.06rem;
  color: rgba(0, 0, 0, 0.8);
}


@media only screen and (max-width: 850px) {
  
  .info-container {
    width: 100%;
  }

}