<mat-sidenav-container>
  <mat-sidenav #sidenav class="sideBar" style="background-color: rgba(0, 0, 0, 0.95);">
    <a class="back-arrow" (click)="sidenav.toggle()" id="sidebarBtn">
      <i class="material-icons" style="color: white; cursor: pointer;">arrow_back</i>
    </a>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: white;">
    <header>
      <app-header></app-header>
    </header>
    <div class="bk"></div>
    <div class="topSpace"></div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>