<!-- Frontend -->
<h1 class="areaHeading py-5 mt-3">Technologies</h1>
<div class="row mb-4">
    <div class="col-md-12">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 style="margin: 0%;">Front-end
                                <span><a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne"
                                        style="float: right; color: black; cursor: pointer;">
                                        <i class="material-icons" style="font-size: 30px;">
                                            keyboard_arrow_down
                                        </i>
                                    </a></span> </h1>
                        </div>
                    </div>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://angular.io/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Angular"
                                            src="https://img.icons8.com/ios-filled/{{size}}/000000/angularjs.png" />
                                        <br>
                                        <p class="interestName"> Angular</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://en.wikipedia.org/wiki/HTML">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="HTML 5"
                                            src="https://img.icons8.com/color/{{size}}/000000/html-5.png" />
                                        <br>
                                        <p class="interestName"> HTML 5 </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://getbootstrap.com/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Bootstrap 4"
                                            src="https://img.icons8.com/color/{{size}}/000000/bootstrap.png" />
                                        <br>
                                        <p class="interestName"> Bootstrap 4 </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://www.w3.org/Style/CSS/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="CSS 3"
                                            src="https://img.icons8.com/color/{{size}}/000000/css3.png" />
                                        <br>
                                        <p class="interestName"> CSS 3 </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="JavaScript"
                                            src="https://img.icons8.com/color/{{size}}/000000/javascript.png" />
                                        <br>
                                        <p class="interestName"> JavaScript </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://sass-lang.com/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Node.js"
                                            src="https://img.icons8.com/color/{{size}}/000000/sass-avatar.png" />
                                        <br>
                                        <p class="interestName"> Sass </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Middleware + Databases -->

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-4">
        <div id="accordionTwo">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 style="margin: 0%;">Middleware
                                <span>
                                    <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                        aria-controls="collapseTwo"
                                        style="float: right; color: black; cursor: pointer;">
                                        <i class="material-icons" style="font-size: 30px;">
                                            keyboard_arrow_down
                                        </i>
                                    </a>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>

                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionTwo">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <a href="https://expressjs.com/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Express.js"
                                            src="https://img.icons8.com/color/{{size}}/000000/tasks.png" />
                                        <br>
                                        <p class="interestName"> Express.js </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <a href="https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet-core">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt=".Net Core"
                                            src="https://camo.githubusercontent.com/8cd4149d4ee46533aa3f278759bfcf285153bfcc/68747470733a2f2f636f64656f70696e696f6e2e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031382f30372f4269746d61702d4d454449554d5f4153502e4e45542d436f72652d4c6f676f5f32636f6c6f72735f5371756172655f5247422e706e67"
                                            width="80" height="100" />
                                        <br>
                                        <p class="interestName"> .Net Core </p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
                                <a href="https://www.php.net/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Php"
                                            src="https://img.icons8.com/offices/{{size}}/000000/php-logo.png" />
                                        <br>
                                        <p class="interestName"> Php </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-4">
        <div id="accordionThree">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 style="margin: 0%;">Database
                                <span><a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                        aria-controls="collapseThree"
                                        style="float: right; color: black; cursor: pointer;">
                                        <i class="material-icons" style="font-size: 30px;">
                                            keyboard_arrow_down
                                        </i>
                                    </a></span> </h1>
                        </div>
                    </div>
                </div>

                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                    data-parent="#accordionThree">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <a href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="MsSQLServer"
                                            src="https://img.icons8.com/color/{{size}}/000000/microsoft-sql-server.png" />
                                        <br>
                                        <p class="interestName"> SQL Server </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <a href="https://www.mongodb.com/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Mongo DB"
                                            src="https://img.icons8.com/color/{{size}}/000000/mongodb.png" />
                                        <br>
                                        <p class="interestName"> Mongo DB </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
                                <a href="https://firebase.google.com/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Firebase"
                                            src="https://img.icons8.com/color/{{size}}/000000/firebase.png" />
                                        <br>
                                        <p class="interestName"> Firebase </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Microsoft Tools -->

<div class="row mb-4">
    <div class="col-md-12">
        <div id="accordionFive">
            <div class="card">
                <div class="card-header" id="headingFive">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 style="margin: 0%;">Microsoft
                                <span><a data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                                        aria-controls="collapseFive"
                                        style="float: right; color: black; cursor: pointer;">
                                        <i class="material-icons" style="font-size: 30px;">
                                            keyboard_arrow_down
                                        </i>
                                    </a></span> </h1>
                        </div>
                    </div>
                </div>

                <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionFive">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://dynamics.microsoft.com/en-in/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Dynamics 365"
                                            src="https://img.icons8.com/color/{{size}}/000000/dynamics-365.png" />
                                        <br>
                                        <p class="interestName"> Dynamics 365 </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://azure.microsoft.com/en-in/services/devops/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="ADO"
                                            src="https://c616b3614506f07e89ab-5cef763fe73fcec814d61b3b60a1ac9a.ssl.cf1.rackcdn.com/V1~47522eb5-9080-484a-91ba-bca70131e4b1~339869743b1c4cefa5fec72954a3b5bf" />
                                        <br>
                                        <p class="interestName"> ADO </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://azure.microsoft.com/en-in/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Azure"
                                            src="https://img.icons8.com/color/{{size}}/000000/azure-1.png" />
                                        <br>
                                        <p class="interestName"> Azure </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://en.wikipedia.org/wiki/Microsoft_PowerPoint">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="PowerPoint"
                                            src="https://img.icons8.com/color/{{size}}/000000/microsoft-powerpoint-2019.png" />
                                        <br>
                                        <p class="interestName"> PowerPoint </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://en.wikipedia.org/wiki/Microsoft_Word">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Word"
                                            src="https://img.icons8.com/color/{{size}}/000000/microsoft-word-2019--v2.png" />
                                        <br>
                                        <p class="interestName"> Word </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 ">
                                <a href="https://en.wikipedia.org/wiki/Microsoft_Excel">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Excel"
                                            src="https://img.icons8.com/color/{{size}}/000000/microsoft-excel-2019--v1.png" />
                                        <br>
                                        <p class="interestName"> Excel </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CI/CD and programming languages -->

<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-4 mb-4">
        <div id="accordionSix">
            <div class="card">
                <div class="card-header" id="headingSix">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 style="margin: 0%;">Web Analytics
                                <span><a data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                                        aria-controls="collapseSix"
                                        style="float: right; color: black; cursor: pointer;">
                                        <i class="material-icons" style="font-size: 30px;">
                                            keyboard_arrow_down
                                        </i>
                                    </a>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>

                <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordionSix">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-6">
                                <a href="https://marketingplatform.google.com/about/tag-manager/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Google Tag Manager"
                                            src="../../../../assets/img/Icons/gtm.png" />
                                        <br>
                                        <p class="interestName"> Tag Manager </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-6 ">
                                <a href="https://marketingplatform.google.com/about/analytics/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Google Analytics"
                                            src="../../../../assets/img/Icons/googleAnalytics.webp" width="150px"
                                            height="150px" />
                                        <br>
                                        <p class="interestName"> Analytics </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-12 col-xl-8 mb-4">
        <div id="accordionSeven">
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 style="margin: 0%;">Coding Languages
                                <span>
                                    <a data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                                        aria-controls="collapseSeven"
                                        style="float: right; color: black; cursor: pointer;">
                                        <i class="material-icons" style="font-size: 30px;">
                                            keyboard_arrow_down
                                        </i>
                                    </a>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>

                <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven"
                    data-parent="#accordionSeven">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
                                <a href="https://www.typescriptlang.org/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="TypeScript"
                                            src="https://img.icons8.com/color/{{size}}/000000/typescript.png" />
                                        <br>
                                        <p class="interestName"> TypeScript </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
                                <a href="https://docs.microsoft.com/en-us/dotnet/csharp/getting-started/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="C#"
                                            src="https://img.icons8.com/color/{{size}}/000000/c-sharp-logo-2.png" />
                                        <br>
                                        <p class="interestName"> C# </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
                                <a href="https://www.python.org/">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="Python 3"
                                            src="https://img.icons8.com/color/{{size}}/000000/python.png" />
                                        <br>
                                        <p class="interestName"> Python 3 </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
                                <a href="https://en.wikipedia.org/wiki/C_(programming_language)">
                                    <div class="text-center card mb-3 card-update">
                                        <img class="techIcon" alt="C"
                                            src="https://img.icons8.com/color/{{size}}/000000/c-programming.png" />
                                        <br>
                                        <p class="interestName"> C </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>