<div class="row">
    <div class="col-md-12" style="font-family: Arial, Helvetica, sans-serif">
        <div class="row">
            <div class="col-md-12">
                <div class="card setPadding" style="border-radius: 3px;">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <app-user-info [heightValue]="230" [displayName]="false"></app-user-info>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="centerItem userName"> {{ aboutUser.name }} </h1>
                                    <h3 class="centerItem pt-2" style="letter-spacing: 0.04rem; color: rgba(0, 0, 0, 0.8);">
                                        {{ aboutUser.occupation }} </h3>
                                    <div class="row pb-3">
                                        <div class="col-md-12 my-2 centerItem">
                                            <a href="https://in.linkedin.com/in/huzaifa-anjum-90b117133?trk=public_profile_browsemap_mini-profile_title" class="links linkedIn btn">
                                                LinkedIn
                                            </a>
                                            <a style="color: white;" class="links contact btn" (click)="scrollToContact()">
                                                Contact 
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row" *ngFor="let detail of aboutUser.details ">
                                        <div class="col-md-4">
                                            <h4 class="subheading">{{ detail.title }} </h4>
                                        </div>
                                        <div class="col-md-8 text-dark">
                                            <h4 class="userData"> {{ detail.value }} </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>