<div class="navList">
    <ul>
        <li>
            <a (click)="closeSidebar('about')">About</a>
        </li>
        <li>
            <a (click)="closeSidebar('skills')">Technical Skills</a>
        </li>
        <li>
            <a (click)="closeSidebar('experience')">Experience</a>
        </li>
        <li>
            <a (click)="closeSidebar('projects')">Projects</a>
        </li>
        <li>
            <a (click)="closeSidebar('certificates')">Certificates</a>
        </li>
        <li>
            <a (click)="closeSidebar('interests')">Interests</a>
        </li>
        <li>
            <a (click)="closeSidebar('contact')">Contact</a>
        </li>
        <li>
            <div class="social-icons-container pt-4"
                style="display: flex; justify-content: space-between; align-items: center;">
                <div style="display: block;">
                    <a class="social-icons" href="#">
                        <i class="fa fa-facebook-f" style="color: #fff;"></i>
                    </a>
                </div>

                <div style="display: block;">
                    <a class="social-icons" href="#">
                        <i class="fa fa-twitter" style="color: #fff"></i>
                    </a>
                </div>

                <div style="display: block;">
                    <a class="social-icons"
                        href="https://in.linkedin.com/in/huzaifa-anjum-90b117133?trk=public_profile_browsemap_mini-profile_title">
                        <i class="fa fa-linkedin" style="color: #fff"></i>
                    </a>
                </div>

                <div style="display: block;">
                    <a class="social-icons" href="#">
                        <i class="fa fa-instagram" style="color: #fff;"></i>
                    </a>
                </div>

                <div style="display: block;">
                    <a class="social-icons"
                        href="https://open.spotify.com/user/hfyhrwd4gyaut1lpozi6gwys4?si=rXjewfG6Q0ajO8lRfxrVpA">
                        <i class="fa fa-spotify" style="color: #fff;"></i>
                    </a>
                </div>

            </div>
        </li>
    </ul>
</div>